.card_wrap{
	position: absolute;
	left: -215px;
    top: 37px;
	display: inline-block;
	border-top: 3px solid #fe5252;
	width: 290px;
	background: #ffffff;
	box-shadow: 3px 3px 20px rgba(0, 0, 0,0.5);
	z-index:5;
	}
.card_content{
	margin: 0 auto;
	position: relative;
	width: 264px;
}
.card_content:before{
	content:'';
	position: absolute;
    top: -15px;
    left: 210px;
	border: 6px solid transparent;
	border-bottom-color: #fe5252;
}
.card_content>div{
	width: 264px;
	display: inline-block;
}
.item_add{
	border-bottom: 1px solid #e7e7e7;
}
.item_add_sum, .card_total_sum{
	float: right;
	font-size: 13px;
	margin: 10px 0 10px 0;
}
#view_card_form{
	float:left;
}
.card_buttons{
	margin-top: 8.5px;
}
#checkout_form{
	float:right;
}
.view_card_button{
	color:#fbeded;
	height: 31px;
	border-radius: 5px;
	background: #cecece;
	text-shadow: 4px 2px 4px rgba(0, 0, 0, .3);
	border:0;
	font-size: 13px;
}
.checkout_button{
	height: 31px;
	float: right;
	color:#fbeded;
	border-radius: 5px;
	background: #fe6e6e;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	border:0;
	font-size: 13px;
}